@page "/artist"
@inject HttpClient http
@inject ArtistApi artistApi

<PageTitle>Artist</PageTitle>

<h3>Artists</h3>
<MudGrid Spacing="4" Justify="Justify.Center">
   @if(artistas is not null){
     @foreach(var result in artistas){
         <MudItem>
            <MudPaper Width="350px">
                <ArtistCard Artist="result" />
            </MudPaper>
         </MudItem>
     }
   }
</MudGrid>




@code {
    private ICollection<ArtistResponse>? artistas;
 

    protected override async Task OnInitializedAsync()
    {
        artistas = await artistApi.GetArtistApiAsync();
    }

}
