@page "/create-music"

@inject ArtistApi ArtistApi
@inject GeneroApi GeneroApi
@inject MusicApi MusicApi

<h3>CreateMusic</h3>

<MudPaper Class="px-8 pt-2 pb-4 mx-12 my-8" Justify="Justify.Center">
    <MudForm>
        <MudSelect T="ArtistResponse" ValueChanged="OnSelectedArtist" Variant="Variant.Outlined" Placeholder="Select artist" Class="mb-4" Label="Artist">
            @if(Artists is not null)
            {
                @foreach(var artist in Artists)
                {
                    <MudSelectItem Value="artist">@(artist.Name)</MudSelectItem>
                }
            }
        </MudSelect>


        <MudTextField
            T="string"
            Required="true"
            Variant="Variant.Outlined"
            RequiredError="Filed is required"
            Class="mb-3"
            Placeholder="Music title"
            @bind-Value="MusicTitle" />

        <MudTextField T="string"
            Required="true"
            Variant="Variant.Outlined"
            RequiredError="Filed is required"
            Class="mb-3"
            Placeholder="Artist name"
            @bind-Value="ArtistName" />

        <MudSelect Variant="Variant.Outlined" T="GeneroResponse" ValueChanged="OnSelectedGenero" Placeholder="Select Genre" Class="mb-4" Label="Genero" AnchorOrigin="Origin.BottomCenter">
            @if (Generos is not null)
            {
                @foreach (var genero in Generos)
                {
                    <MudSelectItem Value="genero">@genero.Name</MudSelectItem>
                }
            }
            @if (GeneroSelected is not null)
            {
                @foreach (var item in GeneroSelected)
                {
                    <MudAlert Severity="Severity.Info">@(item.Name) added</MudAlert>
                }
            }
        </MudSelect>
        <MudButton 
            Class="mt-3"
            Color="Color.Primary"
            Variant="Variant.Filled"
            OnClick="OnCreateMusic"
        >
            Create musics
        </MudButton>
    </MudForm>
</MudPaper>

@code {
    private ICollection<ArtistResponse>? Artists;
    private ICollection<GeneroResponse>? Generos;
    private string? ArtistName { get; set; }
    private string? MusicTitle { get; set; }

    private List<GeneroResponse>? GeneroSelected { get; set; } = new();
    private ArtistResponse? ArtistSelected { get; set; }


    protected override async Task OnInitializedAsync()
    {
        Artists = await ArtistApi.GetArtistApiAsync();
        Generos = await GeneroApi.GetGenerosAsync();
        //GeneroSelected?.Add(new GeneroResponse(1, "Pop", "Pop"));
    }

    private void OnSelectedArtist(ArtistResponse artist)
    {
        ArtistSelected = artist;

    }

    private void OnSelectedGenero(GeneroResponse genero)
    {
        if (!GeneroSelected!.Contains(genero))
        {
            GeneroSelected!.Add(genero);
        }
        

    }

    private async Task OnCreateMusic()
    {
        ICollection<GeneroResponse> generos = GeneroSelected!.Select(gen => new GeneroResponse(gen.Id, gen.Name, gen.Description)).ToList();

        var music = new MusicRequest(ArtistName!, MusicTitle!, "2024", ArtistSelected!.Id,  generos);
        await MusicApi.CreateMusicAsync(music);
    }
}
